@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos opcionales para scrollbars ocultas que usa tu código */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}